<section class="content-header">
    <h1>
      Grupo
      <small>Grupos cadastrados.</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Início</a></li>        
        <li>Grupos</li>
    </ol>
</section>

<section class="content">
    <!-- Main content -->
    <div class="row">
       <div *ngIf='!showErroModal() && showErrorMessage() || showSuccessMessage()' class='alert' [ngClass]="{'alert-danger' : showErrorMessage() ,'alert-success': showSuccessMessage()}">
            {{showSuccessMessage() ? successMessage : errorMessage}}
       </div>
        
        <div class="col-md-3">
            <a (click)="onNovo()" class="btn btn-primary btn-block margin-bottom">Novo Grupo</a>
        </div><!-- /.col -->
                   
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                  <form (ngSubmit)="onLocalizar()" #localizarForm="ngForm">
                    <div class="box-tools pull-left">                  
                      <div class="has-feedback">
                        <input type="text" class="form-control input-sm" placeholder="Localizar" #tituloMensagem="ngForm" [(ngModel)]="pesquisa">
                        <span class="fa fa-search form-control-feedback"></span>
                      </div>
                    </div><!-- /.box-tools -->
                   </form>
                    <div class="pull-right">
                        {{tabelaService.inicioListagem}}-{{tabelaService.fimListagem}}/{{tabelaService.total}}
                        <div class="btn-group">                        
                            <button class="btn btn-default btn-sm" [disabled]="tabelaService.disableBack()" (click)="onVoltar()"><i class="fa fa-chevron-left"></i></button>
                            <button class="btn btn-default btn-sm" [disabled]="tabelaService.disableNext()" (click)="onAvancar()"><i class="fa fa-chevron-right"></i></button>
                        </div>                    
                    </div><!-- /.pull-right --> 
                </div><!-- /.box-header -->                
                <div class="box-body">
                    <table id="tabelaGrupo" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Excluir</th>
                            </tr>
                        </thead>
                        <tbody data-link="row" class="rowlink">
                            <tr *ngFor="#grupo of tabelaService.objetosListagem">                                
                                    <td>
                                        <a (click)="onEditar(grupo)" style="color: black !important;">        
                                            {{grupo.nome}}
                                        </a>                                
                                    </td>
                                <td style="width: 10px; text-align: center;">
                                    <a (click)="onExcluir($event, grupo.id)" style="color: red !important;">
                                        <i class="fa fa-trash fa-2x"></i>
                                    </a>                                
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <div class="pull-right">
                        {{tabelaService.inicioListagem}}-{{tabelaService.fimListagem}}/{{tabelaService.total}}
                        <div class="btn-group">                        
                            <button class="btn btn-default btn-sm" [disabled]="tabelaService.disableBack()" (click)="onVoltar()"><i class="fa fa-chevron-left"></i></button>
                            <button class="btn btn-default btn-sm" [disabled]="tabelaService.disableNext()" (click)="onAvancar()"><i class="fa fa-chevron-right"></i></button>
                        </div>                    
                    </div>                 
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalNovo">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Cadastro Grupo</h4>
                </div>  
                <div *ngIf='showErroModal() && showErrorMessage()' class='alert' [ngClass]="{'alert-danger' : showErrorMessage() ,'alert-success': showSuccessMessage()}">
                    {{showSuccessMessage() ? successMessage : errorMessage}}
                </div>                              
                <form (ngSubmit)="onSalvar()" #f="ngForm" novalidate>
                    <div class="form-group col-md-12">
                        <label for="nome">Nome</label>
                        <input required type="text" class="form-control" id="nome" ngControl="nome" #nome="ngForm" [(ngModel)]="grupo.nome" ngControl="grupo.nome" placeholder="Nome">                       
                    </div>
                    <div class="modal-footer">                        
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <a class="btn btn-link" (click)="cancel()">Cancelar</a>                        
                    </div>
                </form>        
            </div>
            
        </div>
    </div>        
</section>
