<div class="dashboard-page" ng-controller="DashboardCtrl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">

       <div class="text-center">
        <h2 class="brand">AgroInfo <small>Server</small></h2>
        <img src="images/senior.png" class="user-avatar" /><br />
        <a ng-click="logout()" class="btn btn-white btn-outline btn-rounded btn-sm">Logout</a>
      </div>
     
      <ul class="nav nav-sidebar">
        <li ng-class="{active: $state.includes('inicial')}"><a ui-sref="inicial">Inicial <span class="sr-only">(current)</span></a></li>
        <li ng-class="{active: $state.includes('cooperativas')}"><a ui-sref="cooperativas">Cooperativas</a></li>
        <li ng-class="{active: $state.includes('relatorios')}"><a ui-sref="relatorios">Relatorios</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>
    </div>
  </div>
</div>
</div>