<!--
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461
-->
<div class="login-page">
	<div class="row" ng-controller="LoginCtrl">
		<div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
        	<img src="images/senior.png" class="user-avatar" />
			<h1>AgroInfo<small> Server</small></h1>
			<form class="omb_loginForm" id="Formulario" autocomplete="off">
				<div class="form-content">
					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" id="" placeholder="Login" required autofocus ng-model="LoginCtrl.login" >
					</div>
					<div class="form-group">
						<input style="visibility: hidden; position: absolute; left:-99999px" type="password" name="fakepasswordfieldtoturnoffautocomplete">
						<input type="password" class="form-control input-underline input-lg " id="" placeholder="Senha" required ng-model="LoginCtrl.senha">
					</div>
				</div>
				<button class="btn btn-white btn-outline btn-lg btn-rounded" type="submit" data-ng-click="LoginCtrl.executeLogin()">Entrar</button>
			</form>

		</div>	
	</div>

</div>