<section class="content-header">
    <h1>
      Cooperados
      <small>Cooperados cadastrados.</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Início</a></li>
        <li>Cooperados</li>
    </ol>
</section>

<section class="content">
    <!-- Main content -->
    <div class="row">
        <div class="col-md-12">
            <div class='alert' [ngClass]="{'alert-danger' : showErrorMessage() ,'alert-success': showSuccessMessage()}">
                {{showSuccessMessage() ? successMessage : errorMessage}}
            </div>
        </div>
        <div class="col-md-12">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <form (ngSubmit)="onLocalizar()" #localizarForm="ngForm">
                        <div class="box-tools pull-left">
                            <div class="has-feedback">
                                <input type="text" class="form-control input-sm" placeholder="Localizar" #tituloMensagem="ngForm" [(ngModel)]="pesquisa">
                                <span class="fa fa-search form-control-feedback"></span>
                            </div>
                        </div>
                        <!-- /.box-tools -->
                    </form>
                    <div class="pull-right">
                        {{tabelaService.inicioListagem}}-{{tabelaService.fimListagem}}/{{tabelaService.total}}
                        <div class="btn-group">
                            <button class="btn btn-default btn-sm" [disabled]="tabelaService.disableBack()" (click)="onVoltar()"><i class="fa fa-chevron-left"></i></button>
                            <button class="btn btn-default btn-sm" [disabled]="tabelaService.disableNext()" (click)="onAvancar()"><i class="fa fa-chevron-right"></i></button>
                        </div>
                    </div>
                    <!-- /.pull-right -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tabelaCooperado" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Ativo</th>
                                <th>Visualizar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="#cooperado of tabelaService.objetosListagem">
                                <td>{{cooperado.nome}}</td>
                                <td style="width: 10px; text-align: center;">
                                    <div>
                                        <label class=checkbox1>
                                            <input type="checkbox" (click)="onAtivar(cooperado)" [(ngModel)]="cooperado.ativo">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td style="width: 10px;">
                                    <button class="btn btn-default btn-sm" (click)="onSelect(cooperado)">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <div class="pull-right">
                        {{tabelaService.inicioListagem}}-{{tabelaService.fimListagem}}/{{tabelaService.total}}
                        <div class="btn-group">
                            <button class="btn btn-default btn-sm" [disabled]="tabelaService.disableBack()" (click)="onVoltar()"><i class="fa fa-chevron-left"></i></button>
                            <button class="btn btn-default btn-sm" [disabled]="tabelaService.disableNext()" (click)="onAvancar()"><i class="fa fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form (ngSubmit)="onSalvarGrupo()" #f="ngForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Dados Cooperado</h4>
                </div>
                <div class="box-group" id="accordion">
                    <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                    <div class="panel box box-primary">
                        <div class="box-header with-border">
                            <h4 class="box-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Dados Pessoais
                          </a>
                        </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="box-body">
                                <div class="col-xs-6">
                                    <dl>
                                        <dt>Nome</dt>
                                        <dd>{{cooperado.nome}}</dd>
                                    </dl>
                                </div>
                                <div class="col-xs-6">
                                    <dl>
                                        <dt>Cód. Matrícula</dt>
                                        <dd>{{cooperado.codigoMatricula}}</dd>
                                    </dl>
                                </div>
                                <div style="clear: both;"></div>
                                <div class="col-xs-6">
                                    <dl>
                                        <dt>Cpf/Cnpj</dt>
                                        <dd>{{cooperado.cpfCnpj}}</dd>
                                    </dl>
                                </div>
                                <div class="col-xs-6">
                                    <dl>
                                        <dt>E-mail</dt>
                                        <dd>{{cooperado.email}}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel box box-primary">
                        <div class="box-header with-border">
                            <h4 class="box-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Dados Endereço
                          </a>
                        </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="box-body">
                                <div class="col-xs-6">
                                    <dl>
                                        <dt>Endereço</dt>
                                        <dd>{{cooperado.endereco}}</dd>
                                    </dl>
                                </div>
                                <div class="col-xs-6">
                                    <dl>
                                        <dt>Bairro</dt>
                                        <dd>{{cooperado.bairro}}</dd>
                                    </dl>
                                </div>
                                <div style="clear: both;"></div>
                                <div class="col-xs-6">
                                    <dl>
                                        <dt>Cidade</dt>
                                        <dd>{{cooperado.cidade}}</dd>
                                    </dl>
                                </div>
                                <div class="col-xs-6">
                                    <dl>
                                        <dt>Cep</dt>
                                        <dd>{{cooperado.cep}}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel box box-primary">
                        <div class="box-header with-border">
                            <h4 class="box-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    Grupos de Usuários
                                </a>
                            </h4>
                        </div>                        
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="box-body">
                                <select class="form-control select2" multiple="multiple" data-placeholder="Grupos:" style="width: 100%">
                                    <option></option>
                                    <!--<option *ngFor="#sel of gruposSelecionados" selected="selected" value="{{sel.id}}">{{sel.text}}</option> -->
                                    <!--<option value="2" selected="selected">duplicate</option>-->                                    
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <button type="button" class="btn btn-link" data-dismiss="modal">Fechar</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</section>