<section class="content-header">
	<h1>
		Dados Integração
		<small>Informe os dados para conexão entre os sistemas.</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Configurações</a></li>
		<li class="active">Integração</li>
	</ol>
</section>


<section class="content">
	<form (ng-submit)="onSubmit()" #hf="form">
		<div class="col-md-12">
			<div [hidden]="!withErrors" class="alert alert-danger">
				{{mensagemErro}}
			</div>

			<div [hidden]="!submitted" class="alert alert-success">
				{{mensagemSucesso}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#erp">Integração com ERP</a></li>
					<li><a data-toggle="tab" href="#sms">Integração serviço SMS</a></li>
					<li><a data-toggle="tab" href="#filiais">Filiais para Integração</a></li>
				</ul>

				<div class="tab-content">
					<div id="erp" class="tab-pane fade in active">
						<div class="col-md-12 panel">
							<h3>
							Dados para integração com o sistema ERP
						</h3>

							<div class="form-group">
								<label>Modelo do sistema</label>
								<select class="form-control" [(ng-model)]="configuracao.tiposistema" ng-control="configuracao.tiposistema" required>
									<option *ng-for="#m of modelosSistema" [value]="m">{{m}}</option>
								</select>
							</div>
							<div class="form-group">
								<label>Endereço:</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-laptop"></i>
									</div>
									<input type="text" [(ng-model)]="configuracao.endereco" ng-control="configuracao.endereco" class="form-control" id="erpIP"
									required>
								</div>
							</div>

							<div class="form-group">
								<label>Port:</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-arrows-h"></i>
									</div>
									<input type="text" [(ng-model)]="configuracao.porta" ng-control="configuracao.porta" class="form-control" id="erpPort" required>
								</div>
							</div>


							<div class="form-group">
								<label>Usuario:</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-user"></i>
									</div>
									<input type="text" [(ng-model)]="configuracao.usuario" ng-control="configuracao.usuario" class="form-control" id="erpUser"
									required>
								</div>
							</div>

							<div class="form-group">
								<label>Senha:</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-key"></i>
									</div>
									<input type="password" [(ng-model)]="configuracao.senha" ng-control="configuracao.senha" class="form-control" id="erpPassword"
									required>
								</div>
							</div>

							<div class="form-group">
								<label>Sigla do Sistema:</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-navicon"></i>
									</div>
									<input type="text" [(ng-model)]="configuracao.sigla" ng-control="configuracao.sigla" class="form-control" id="erpPassword"
									required>
								</div>
							</div>
						</div>
					</div>
					<!--<div id="sms" class="tab-pane fade">
						<div class="col-md-12 panel">
							<h3>
							Dados para conexão com o sistema de SMS
						</h3>

							<div class="form-group">
								<label>Modelo do sistema</label>
								<select class="form-control" [(ng-model)]="configuracao.tipoSistemaSMS" ng-control="configuracao.tipoSistemaSMS" required>
									<option *ng-for="#t of modelosSMS" [value]="t" selected="selected">{{t}}</option>
								</select>
							</div>
							<div class="form-group">
								<label for="erpIP">Endereço:</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-laptop"></i>
									</div>
									<input type="text" [(ng-model)]="configuracao.ipsms" ng-control="configuracao.ipsms" class="form-control" id="erpIP" name="erpIP"
									required>
								</div>
							</div>


							<div class="form-group">
								<label>Port:</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-arrows-h"></i>
									</div>
									<input type="text" [(ng-model)]="configuracao.portasms" ng-control="configuracao.portasms" class="form-control" id="erpPort"
									required>
								</div>
							</div>


							<div class="form-group">
								<label>Usuario:</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-user"></i>
									</div>
									<input type="text" [(ng-model)]="configuracao.usuariosms" ng-control="configuracao.usuariosms" class="form-control" id="erpUser"
									required>
								</div>
							</div>

							<div class="form-group">
								<label>Senha:</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-key"></i>
									</div>
									<input type="password" [(ng-model)]="configuracao.senhasms" ng-control="configuracao.senhasms" class="form-control" id="erpPassword"
									required>
								</div>
							</div>
						</div>
					</div>-->
					<!--<div id="filiais" class="tab-pane fade">
						<div class="col-md-12 panel">

							<h3>
							Integração Filiais
						</h3>
							<div class="col-md-3" *ng-for="#empresa of configuracao.empresas">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title">{{empresa.descricaoEmpresa}}</h3>
									</div>
									<div class="panel-body">
										<div class="checkbox" *ng-for="#filial of empresa.filiais">
											<label>
												<input type="checkbox" [(ng-model)]="filial.ativo" ng-control="filial.ativo">{{filial.descricaoFilial}}
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>-->
				</div>

				<div style="clear:both;"></div>
				<button type="submit" [disabled]="hf.form.invalid" class="btn btn-info">Salvar</button>
			</div>
		</div>
	</form>
</section>