<ion-list [attr.no-lines]="isMD ? '' : null">
    <ion-item-group [class.hide]="data.length == 0" *ng-for="#timeSlot of showTimeSlot(data)">
        <ion-item-divider sticky>
            {{timeSlot.time}}
        </ion-item-divider>
        <ion-item-sliding *ng-for="#session of timeSlot.talks" [attr.category]="session.category" #sliding-item>
            <button ion-item (click)="openSession(session)">
                <h3>{{session.name}}</h3>
                <p>
                    <date-format [value]="session.timestart" format="h:mm"></date-format>
                    &dash;
                    <date-format [value]="session.timeend" format="h:mm"></date-format>
                    &mdash;
                    <span>{{session.location}}</span>
                </p>
            </button>
            <ion-item-options>
                <button primary *ng-if="session.speaker" (click)="openSpeakerDetail(session.speaker, $event, slidingItem)">Speaker
                    <br>Info</button>
                <button favorite *ng-if="showing == 'all'" (click)="addFavorite(timeSlot, session, $event, slidingItem)">Add to
                    <br>Favorites</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-item-group>

    <ion-list-header [class.hide]="data.length > 0">
        No Sessions Found
    </ion-list-header>
</ion-list>