.btn-primary:hover {
  background-color: transparent !important;
  border-color: #1abc9c !important;
  color: #1abc9c !important;
}

#greetings {
  width: 100px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.background-green {
    background: #1abc9c !important;    
}

.conteudo {
	margin-top: 3em;
}

.skin-green .main-header .navbar {
	background-color: #1abc9c !important;
}

.skin-green .main-header .logo {
	background-color: #1abc9c !important;
}

.skin-green .main-header .navbar .sidebar-toggle:hover {
    background-color: #42B19B !important;
}

#tabelaGrupo > a {
    color: black !important;
}

.footer {
	position:absolute;
	bottom:0;	
    background-color: white; 
    padding: 15px;
    width: 100%;
    padding-left: 230px;
}

.btn-link {
    color: black !important;
}

.form-login {
  width: 50% !important;
  float: left;
}

.login-page {
  padding: 13em !important;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
  right: none !important;
}

.navbar-nav > .user-menu > .dropdown-menu {
  width: none !important;
}

.login-page::before {
    width: 55% !important;
}

.img-dashboard {
    float: left !important; 
    padding-top: 20%; 
    padding-right: 20%; 
    padding-left: 30%; 
    padding-bottom: 30%; 
    color: white;    
}

.navbar-nav>.user-menu>.dropdown-menu {
    width: 10px !important;
}

@media (max-width:990px){
  .login-page {
    padding: 0em !important;
  }
  
  .form-login {
    width: 100% !important;
    float: none;
  }
  
  .img-dashboard {
    padding: 60% 5% 65% 5%;
    float: none !important; 
}
  
  .img-container .pull-right {
      float: none !important;
  }
  
  .dashboard-teste {
      align-content: center;
  }
  
}