<ion-navbar *navbar>
    <ion-title>AgroInfo</ion-title>
</ion-navbar>

<ion-content>
    <div>
        <ion-list *ngFor="#mensagem of mensagens">


            <ion-item-sliding #slidingItem>
                <button ion-item (click)="abrirMensagem(mensagem)">
                    <h3>{{mensagem.data}}</h3>
                    <p>
                        <span>{{mensagem.titulo}}</span>

                    </p>
                    <p><span>Prévia mensagem aqui</span></p>
                </button>
            </ion-item-sliding>

        </ion-list>

    </div>
</ion-content>