<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd)	{
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style> <div> <h2>Cooperativas </h2> <div class=jumbotron> <div class=container> <div>  <em ng-show="Cooperativa.length == 0">No registered Cooperativa.</em> <input type=text class=form-control placeholder="Procurar Cooperativa" ng-model=procuracooperativa> <table ng-hide="cooperativaCtrl.Cooperativa.length == 0" class="table table-bordered table-striped"> <thead> <tr> <th> <a href=# ng-click="sortType = 'id'; sortReverse = !sortReverse"> Id <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span> <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span> </a> </th> <th> <a href=# ng-click="sortType = 'name'; sortReverse = !sortReverse"> Name <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span> <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span> </a> </th> <th>Email</th> <th>ip</th> <th>logo</th> <th>CNPJ</th> </tr> </thead>  <tr ng-repeat="Cooperativa in cooperativaCtrl.Cooperativa | orderBy:sortType:sortReverse | filter:procuracooperativa" "> <td>{{Cooperativa.id}}</td> <td>{{Cooperativa.name}}</td> <td>{{Cooperativa.email}}</td> <td>{{Cooperativa.ip}}</td> <td><img style="height:75px;max-width:150px;width: expression(this.width > 150 ? 150: true);" ng-src={{Cooperativa.logo}} alt=Description></td> <td>{{Cooperativa.cnpj}}</td> </tr></table> <div>  <input type=button ng-click=refresh() name=refresh id=refresh value=Refresh> </div> </div> </div> </div> <a ui-sref=registrar class="btn btn-primary btn-lg btn-outline btn-rounded">Registrar</a> <p></p> </div>