<section class="content-header">
	<h1>
		Dados Integração
		<small>Informe os dados para conexão entre os sistemas.</small>
	</h1>
	<ol class="breadcrumb">
        <li><a [routerLink]="['Inicio']"><i class="fa fa-dashboard"></i> Configurações</a></li>        
		<li class="active">Integração</li>
	</ol>
</section>


<section class="content">

    <div class='alert' [ngClass]="{'alert-danger' : showErrorMessage() ,'alert-success': showSuccessMessage()}">
        {{showSuccessMessage() ? successMessage : errorMessage}}
    </div>

	<form (ngSubmit)="onSubmit()" #f="ngForm">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#integracaoERP" data-toggle="tab">Integração com ERP</a></li>
                  <li><a href="#integracaoSMS" data-toggle="tab">Integração Serviço SMS</a></li>
                  <li><a href="#integracaoFiliais" data-toggle="tab">Filiais para Integração</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="integracaoERP">
                        <div>
                            <h3>
                            Dados para integração com o sistema ERP
                        </h3>
                            <div class="form-group">
                                <label>Modelo do sistema</label>
                                <select class="form-control" [(ngModel)]="configuracao.tiposistema" ngControl="configuracao.tiposistema">
                                    <option *ngFor="#m of modelosSistema" [value]="m">{{m}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Endereço:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-laptop"></i>
                                    </div>
                                    <input type="text" [(ngModel)]="configuracao.endereco" ngControl="configuracao.endereco" class="form-control" id="erpIP">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Port:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-arrows-h"></i>
                                    </div>
                                    <input type="text" [(ngModel)]="configuracao.porta" ngControl="configuracao.porta" class="form-control" id="erpPort">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Usuário:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <input type="text" [(ngModel)]="configuracao.usuario" ngControl="configuracao.usuario" class="form-control" id="erpUser">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Senha:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-key"></i>
                                    </div>
                                    <input type="password" [(ngModel)]="configuracao.senha" ngControl="configuracao.senha" class="form-control" id="erpPassword">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Sigla do Sistema:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-navicon"></i>
                                    </div>
                                    <input type="text" [(ngModel)]="configuracao.sigla" ngControl="configuracao.sigla" class="form-control" id="erpPassword">
                                </div>
                            </div>
                        </div>
                    </div><!-- /.tab-pane -->
                    <div class="tab-pane" id="integracaoSMS">
                        <h3>
                            Dados para conexão com o sistema de SMS
                        </h3>
                        <div class="form-group">
                            <label>Modelo do sistema</label>
                            <select class="form-control" [(ngModel)]="configuracao.tipoSistemaSMS" ngControl="configuracao.tipoSistemaSMS">
                                <option *ngFor="#t of modelosSMS" [value]="t" selected="selected">{{t}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="erpIP">Endereço:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-laptop"></i>
                                </div>
                                <input type="text" [(ngModel)]="configuracao.ipsms" ngControl="configuracao.ipsms" class="form-control" id="erpIP" name="erpIP">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Port:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-arrows-h"></i>
                                </div>
                                <input type="text" [(ngModel)]="configuracao.portasms" ngControl="configuracao.portasms" class="form-control" id="erpPort">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Usuário:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <input type="text" [(ngModel)]="configuracao.usuariosms" ngControl="configuracao.usuariosms" class="form-control" id="erpUser">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Senha:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-key"></i>
                                </div>
                                <input type="password" [(ngModel)]="configuracao.senhasms" ngControl="configuracao.senhasms" class="form-control" id="erpPassword">
                            </div>
                        </div>
                    </div><!-- /.tab-pane -->
                    <div class="tab-pane" id="integracaoFiliais">
                        <h3>
                            Integração Filiais
                        </h3>
                        <div *ngFor="#empresa of configuracao.empresas">
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <h3 class="box-title">{{empresa.descricaoEmpresa}}</h3>
                                </div>
                                <div class="box-body">                                
                                    <div class="checkbox" *ngFor="#filial of empresa.filiais">
                                        <label>
                                            <input type="checkbox" [(ngModel)]="filial.ativo" ngControl="filial.ativo">{{filial.descricaoFilial}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.tab-pane -->
                </div><!-- /.tab-content -->
            </div><!-- /.nav-tabs-custom -->
			<button type="submit" class="btn btn-primary">Salvar</button>
	</form>
</section>