.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2,
.col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
.col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11,
.col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1,
.col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
.col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12,
.col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
.col-xs-7, .col-xs-8, .col-xs-9 {
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.btn-info:hover {
  background-color: transparent !important;
  border-color: #58d291 !important;
  color: #58d291 !important;
}

.conteudo {
	margin-top: 3em;
}

.form-control  {
	padding: 0;
}

.panel-default{
		border-color:white !important
}

.panel-heading {
	border-color: white; !important;
}

.panel-default > .panel-heading {
	border-color: white !important;
	background-color: white !important;
}

.panel-body {
	padding-top: 0px !important;
}

.panel-title {
	font-weight: 600;
	font-size: 18px !important;
}

.skin-green-light .main-header .navbar {
	background-color: #1abc9c !important;
}

.skin-green-light .main-header .logo {
	background-color: #1abc9c !important;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.footer {
	position:absolute;
	bottom:0;	
    background-color: white; 
    padding: 15px;
    width: 100%;
    padding-left: 230px;
}