<ion-navbar>
    <ion-title>AgroInfo</ion-title>
</ion-navbar>

<ion-content class="login ">
    <ion-card>
        <ion-card-content>
            <ion-list>
                <ion-row>
                    <ion-col>
                        <ion-input floating-label>
                            <ion-label primary>CPF/CNPJ</ion-label>
                            <input id="cpfCnpj" type="tel" maxlength="14" [(ngModel)]="cpfCNPJ" (change)="changeCpfCnpj()">
                        </ion-input>
                    </ion-col>
                </ion-row>
                
                <ion-row>
                    <ion-col>
                        <button (click)="verificarCnpj()" primary outline>Verificar</button>
                    </ion-col>
                </ion-row>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="isCooperativaEncontrada()">
        <ion-card-content>
            <ion-list>
                <ion-row>
                    <ion-col>
                        <ion-input floating-label>
                            <ion-label primary>Número da matrícula</ion-label>
                            <input type="tel" maxlength="9" [(ngModel)]="codigoCooperado">
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <button (click)="entrar()" primary outline>Entrar</button>
                    </ion-col>
                </ion-row>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <div class="logo">
        <img src="img/senior.png">
    </div>

</ion-content>