.login {
    .logo {
        width: 100%;
        text-align: center;
        padding-top: 20%
    }
    .logo img {
        height: 50px;
    }
}

// .toolbar-background {
//     background: #1abc9c;
// }

// .toolbar[primary] toolbar-background {
//     background: #1abc9c;
// }

.toolbar-title {
    color: white;
}

