<ion-navbar *navbar>
    <ion-title>
        Mensagem
    </ion-title>
</ion-navbar>

<ion-content padding>
    <div>
        <ion-item no-lines center>
            <h2>{{mensagem.titulo}}</h2>
        </ion-item>
        <p>{{mensagem.data}}</p>
    </div>
    <div>
        <p>{{mensagem.mensagem}}</p>
    </div>

    <tabbar role="tablist" style="position: absolute; right: 0px; border-top:0">
        <div style="background:white;">
            <ion-row>
                <ion-col left>
                    <button danger outline>

                        <p>
                            <icon trash></icon>
                            <span>Excluir</span>
                        </p>
                    </button>
                </ion-col>
            </ion-row>
        </div>
    </tabbar>
</ion-content>