    <div class=img-container style="float: left !important;">
      <div class="text-center pull-right ">
        <img src="resources/img/senior.png" class="img-responsive">
        <h1>AgroInfo
          <span> - Portal</span>
        </h1>
      </div>
    </div>
    <div class="form-content">
    <form (ngSubmit)="onSubmit()" loginForm="ngForm" class="form-login">
      <div class=form-content>
          <div class=table-form>              
            <div class=form-groups>
              <div class=form-group>
                <input autofocus type=text class="form-control input-lg" required [(ngModel)]="usuario" ngControl="user" placeholder=Login>
              </div>
              <div class=form-group>
                <input type=password class="form-control input-lg" required [(ngModel)]="senha" ngControl="password" placeholder=Senha>
              </div>
            </div>

            <div class=button-container>              
              <button class="btn btn-default login" type="submit" >
                <img src="resources/img/arrow.png">
              </button>
            </div>
          </div>
            <div style="padding: 5px">                
                <div [hidden]="!withErrors" class="alert alert-danger">
                    Usuário ou senha inválidos
                </div>             
            </div>                              
          <div class=remember>
            <label class=checkbox1 for=Option>
              <input id=Option type=checkbox>
              <span></span>
            </label> Lembrar-me
          </div>
      </div>
    </form>  
    </div>