<section class="content-header">
    <h1>
      Agendamento
      <small>Informar periodicidade de integração com o ERP Local</small>
    </h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Configurações</a></li>
		<li class="active">Agendamento</li>
	</ol>
</section>


<section class="content">
    <div class="row">
        <div class="home centered">
            <div class="col-md-12">
                <div class='alert' [ngClass]="{'alert-danger' : showErrorMessage() ,'alert-success': showSuccessMessage()}">
                    {{showSuccessMessage() ? successMessage : errorMessage}}
                </div>
            </div>
            <form (ngSubmit)="onSubmit()" #f="ngForm">
                <div class="col-md-6" *ngFor="#agendamento of agendamentos">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{agendamento.descricao}}</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <div>
                                            <label class=checkbox1>
                                            <input type="checkbox" [(ngModel)]="agendamento.ativo" ngControl="agendamento.ativo">Ativo
                                            <span></span>
                                            </label>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">

                                    <div class="col-md-4">
                                        <label>Periodicidade</label>
                                    </div>
                                    <br clear="all">
                                    <div class="col-md-4">
                                        <input type="number" title="Tempo de execução da procura de itens somente alterados." class="form-control" [(ngModel)]="agendamento.periodicidade"
                                                    ngControl="agendamento.periodicidade" #name="ngForm">
                                    </div>

                                    <div class="col-md-8">
                                        <select class="form-control" [(ngModel)]="agendamento.formatoPeriodicidade" ngControl="agendamento.formatoPeriodicidade">
                                            <option *ngFor="#p of periodo" [value]="p">{{p}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="padding-top: 10px;">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label>Carga completa</label>
                                    </div>
                                    <br clear="all">
                                    <div class="col-md-4">                                                                            
                                        <input type="number" title="Tempo para a revalidação de todos os registros, esta validação pode causar lentidão no sistema ERP e no Agroinfo." class="form-control"  [(ngModel)]="agendamento.cargaCompleta" 
                                            ngControl="agendamento.cargaCompleta" #name="ngForm">
                                    </div>                                

                                    <div class="col-md-8">
                                        <select class="form-control select2" [(ngModel)]="agendamento.formatoCargaCompleta">
                                            <option *ngFor="#p of periodo" [value]="p">{{p}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear: both;"></div>
                <section class="content">
                    <div>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </section>                                     
            </form>
                 
        </div> 
    </div>
</section>
