<ion-navbar *navbar>
    <ion-title>AgroInfo</ion-title>
    <ion-buttons end>
        <button (click)="presentFilter()" style="color:white;">
            Filtrar <icon ios="ion-md-funnel" md="ion-md-funnel"></icon>
        </button>
    </ion-buttons>
</ion-navbar>

<ion-content>
    <div>
        <ion-list>
            <ion-list-header>
                total: 500,00
            </ion-list-header>
            <ion-item-group>
                <div *ngIf="contasMeses.length === 0">
                    <ion-item-divider sticky style="padding-top:8px; padding-bottom: 8px;">
                        Não foram encontradas contas abertas.
                    </ion-item-divider>
                </div>
                <div *ngFor="#anoMes of contasMeses">
                    <ion-item-divider sticky style="padding-top:8px; padding-bottom: 8px;">
                        {{anoMes.anoMes.mes.descricao}} - {{anoMes.anoMes.ano}}
                    </ion-item-divider>
                    <ion-list *ngFor="#conta of anoMes.contas">
                        <ion-item-sliding #slidingItem category="credito" *ngIf="!conta.debito">
                            <ion-item>
                                <ion-row>
                                    <ion-col width-50>
                                        <p>
                                            <span>Documento: {{conta.numeroTitulo}}</span>
                                        </p>
                                        <p>
                                            <span>Venc. {{conta.dtVencimentoOriginal}}</span>
                                        </p>
                                    </ion-col>
                                    <ion-col width-50>
                                        <p style="text-align: right;">
                                            <span style="color:#49965A;" class="valorTitulo">{{conta.valor}}</span>
                                        </p>
                                    </ion-col>
                                </ion-row>
                            </ion-item>
                        </ion-item-sliding>
                        <ion-item-sliding #slidingItem category="debito" *ngIf="conta.debito">
                            <ion-item>
                                <ion-row>
                                    <ion-col width-50>
                                        <p>
                                            <span>Documento: {{conta.numeroTitulo}}</span>
                                        </p>
                                        <p>
                                            <span>Venc. {{conta.dtVencimentoOriginal}}</span>
                                        </p>
                                    </ion-col>
                                    <ion-col width-50>
                                        <p style="text-align: right;">
                                            <span style="color:#f53d3d;" class="valorTitulo">-{{conta.valor}}</span>
                                        </p>
                                    </ion-col>
                                </ion-row>
                            </ion-item>
                        </ion-item-sliding>
                    </ion-list>
                </div>




                <!--<ion-list>
                    <ion-item-sliding #slidingItem category="debito">
                        <ion-item>
                            <ion-row>
                                <ion-col width-50>
                                    <p>
                                        <span>Documento: 82TERC</span>
                                    </p>
                                    <p>
                                        <span>Venc. 23/12/2015</span>
                                    </p>
                                </ion-col>
                                <ion-col width-50>
                                    <p style="text-align: right;">
                                        <span style="color:#f53d3d;" class="valorTitulo">-13.433,34</span>
                                    </p>
                                </ion-col>
                            </ion-row>
                        </ion-item>
                    </ion-item-sliding>
                </ion-list>
                <ion-list>
                    <ion-item-sliding #slidingItem category="credito">
                        <ion-item>
                            <ion-row>
                                <ion-col width-50>
                                    <p>
                                        <span>Documento: 82PRI</span>
                                    </p>
                                    <p>
                                        <span>Venc. 22/12/2015</span>
                                    </p>
                                </ion-col>
                                <ion-col width-50>
                                    <p style="text-align: right;">
                                        <span style="color:#49965A;" class="valorTitulo">14.099,99</span>
                                    </p>
                                </ion-col>
                            </ion-row>
                        </ion-item>
                    </ion-item-sliding>
                </ion-list>
                <ion-list>
                    <ion-item-sliding #slidingItem category="credito">
                        <ion-item>
                            <ion-row>
                                <ion-col width-50>
                                    <p>
                                        <span>Documento: 82TERC</span>
                                    </p>
                                    <p>
                                        <span>Venc. 17/12/2015</span>
                                    </p>
                                </ion-col>
                                <ion-col width-50>
                                    <p style="text-align: right;">
                                        <span style="color:#49965A;" class="valorTitulo">38.236,31</span>
                                    </p>
                                </ion-col>
                            </ion-row>
                        </ion-item>
                    </ion-item-sliding>
                </ion-list>
                <ion-item-divider sticky>
                    Novembro
                </ion-item-divider>
                <ion-list>
                    <ion-item-sliding #slidingItem category="debito">
                        <ion-item>
                            <ion-row>
                                <ion-col width-50>
                                    <p>
                                        <span>Documento: 7TERC</span>
                                    </p>
                                    <p>
                                        <span>Venc. 30/11/2015</span>
                                    </p>
                                </ion-col>
                                <ion-col width-50>
                                    <p style="text-align: right;">
                                        <span style="color:#f53d3d;" class="valorTitulo">-1.572,58</span>
                                    </p>
                                </ion-col>
                            </ion-row>
                        </ion-item>
                    </ion-item-sliding>
                </ion-list>
                <ion-list>
                    <ion-item-sliding #slidingItem category="debito">
                        <ion-item>
                            <ion-row>
                                <ion-col width-50>
                                    <p>
                                        <span>Documento: 55-A</span>
                                    </p>
                                    <p>
                                        <span>Venc. 29/11/2015</span>
                                    </p>
                                </ion-col>
                                <ion-col width-50>
                                    <p style="text-align: right;">
                                        <span style="color:#f53d3d;" class="valorTitulo">-9.633,25</span>
                                    </p>
                                </ion-col>
                            </ion-row>
                        </ion-item>
                    </ion-item-sliding>
                </ion-list>
                <ion-list>
                    <ion-item-sliding #slidingItem category="credito">
                        <ion-item>
                            <ion-row>
                                <ion-col width-50>
                                    <p>
                                        <span>Documento: 68PRI</span>
                                    </p>
                                    <p>
                                        <span>Venc. 22/11/2015</span>
                                    </p>
                                </ion-col>
                                <ion-col width-50>
                                    <p style="text-align: right;">
                                        <span style="color:#49965A;" class="valorTitulo">12.100,01</span>
                                    </p>
                                </ion-col>
                            </ion-row>
                        </ion-item>
                    </ion-item-sliding>
                </ion-list>
                <ion-list>
                    <ion-item-sliding #slidingItem category="debito">
                        <ion-item>
                            <ion-row>
                                <ion-col width-50>
                                    <p>
                                        <span>Documento: 8SEC</span>
                                    </p>
                                    <p>
                                        <span>Venc. 22/11/2015</span>
                                    </p>
                                </ion-col>
                                <ion-col width-50>
                                    <p style="text-align: right;">
                                        <span style="color:#f53d3d;" class="valorTitulo">-2.226,76</span>
                                    </p>
                                </ion-col>
                            </ion-row>
                        </ion-item>
                    </ion-item-sliding>
                </ion-list>
                <ion-list>
                    <ion-item-sliding #slidingItem category="debito">
                        <ion-item>
                            <ion-row>
                                <ion-col width-50>
                                    <p>
                                        <span>Documento: 82TERC</span>
                                    </p>
                                    <p>
                                        <span>Venc. 20/11/2015</span>
                                    </p>
                                </ion-col>
                                <ion-col width-50>
                                    <p style="text-align: right;">
                                        <span style="color:#f53d3d;" class="valorTitulo">-13.433,34</span>
                                    </p>
                                </ion-col>
                            </ion-row>
                        </ion-item>
                    </ion-item-sliding>
                </ion-list>-->
            </ion-item-group>
        </ion-list>
    </div>
</ion-content>