$categories: ( ionic: color(secondary), credito:#49965A, debito:#f53d3d);
@function auxiliary-categories() {
    @return map-remove($categories);
}

@each $category,
$value in auxiliary-categories() {
    ion-item-sliding[category=#{$category}] ion-item-content {
        border-left: 2px solid $value;
        padding-left: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        height: 45px;
    }
}

.debito{
        border-left: 2px solid #f53d3d;
        padding-left: 10px;
        height: 60px;
}

.credito{
        border-left: 2px solid #49965A; 
        padding-left: 10px;
        height: 60px; 
} 

.ios ion-list {
    margin: -0px 0 0px 0;
    margin-top: 0px;
}

.ios ion-list + ion-list {
    margin: -0px 0 0px 0;
    margin-top: 0px;
}

.md ion-list {
    margin: -0px 0 0px 0;
    margin-top: 0px;
}

.md ion-list + ion-list {
    margin: -0px 0 0px 0;
    margin-top: 0px;
}

.ios ion-item-divider {
    background: #E2E2E2;
}

.md ion-item-divider {
    background: #E2E2E2;
}

.md ion-list ion-list-header,
.md ion-list ion-item-divider {
    color: #000000;
}

.ios ion-list ion-list-header,
.md ion-list ion-item-divider {
    color: #000000;
}

.valorTitulo {
    font-size: 14px;
    display: inline-block;
    padding: 8px 10px 0 0;
}
 