.weather-list {
    ion-card.weather ion-card-header .item {
        padding: 12px;
    }
    ion-card.weather ion-card-content .imgHoje {
        width: 70%;
    }
    ion-card.weather ion-card-content .imgOutrosDias {
        width: 50%;
    }
    ion-card.weather ion-card-content .weather-hoje {
        width: 50%;
        display: inline-block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    ion-card.weather ion-card-content .weather-outrosDias {
        width: 45%;
        display: inline-block;
    }
    ion-card.weather ion-card-content .weather-outrosDias p {
        font-size: 1.2rem;
    }
    ion-card.weather ion-card-content.contentPrevisao {
        padding: 0px 0px 2px 10px;
    }
}