<ion-navbar *navbar>
    <ion-title>
        AgroInfo
    </ion-title>
</ion-navbar>

<ion-content class=" weather-list">
    <ion-card class="weather">
        <ion-card-header style="text-align:center; text-transform: capitalize;">
            <p>{{cooperado.cidade.toLowerCase()}}</p>
        </ion-card-header>
        <ion-card-content class="contentPrevisao">
            <div class="weather-hoje">
                <img class="imgHoje" [src]="previsaoTempoHoje.condicaoTempo.path">
                <p>
                    <b>Hoje</b>
                </p>
                <p>
                    {{previsaoTempoHoje.condicaoTempo.descricao}}
                </p>
                <p>
                    <icon arrow-down>{{previsaoTempoHoje.minima}}º </icon>
                    <icon arrow-up>{{previsaoTempoHoje.maxima}}º</icon>
                </p>
            </div>

            <div class="weather-outrosDias">
                <div style="margin-left:25%;">
                    <img class="imgOutrosDias" [src]="previsaoTempoAmanha.condicaoTempo.path" />
                    <p>
                        <b>{{previsaoTempoAmanha.dia}}</b>
                    </p>
                    <p>
                        {{previsaoTempoAmanha.condicaoTempo.descricao}}
                    </p>
                    <p>
                        <icon arrow-down>{{previsaoTempoAmanha.minima}}º </icon>
                        <icon arrow-up>{{previsaoTempoAmanha.maxima}}º</icon>
                    </p>
                </div>
                <div style="margin-left:25%; margin-top: 10%;">
                    <img class="imgOutrosDias" [src]="previsaoTempoDoisDias.condicaoTempo.path" />
                    <p>
                        <b>{{previsaoTempoDoisDias.dia}}</b>
                    </p>
                    <p>
                        {{previsaoTempoDoisDias.condicaoTempo.descricao}}
                    </p>
                    <p>
                        <icon arrow-down>{{previsaoTempoDoisDias.minima}}º </icon>
                        <icon arrow-up>{{previsaoTempoDoisDias.maxima}}º</icon>
                    </p>
                </div>

            </div>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            Contas
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item-sliding #slidingItem>
                    <ion-item>
                        <ion-row>
                            <ion-col width-50>
                                <p>
                                    Total a pagar:
                                </p>
                            </ion-col>
                            <ion-col width-50>
                                <p style="text-align: right;">
                                    <span style="color:#f53d3d;" class="valorTitulo">-{{getTotalPagar()}}</span>
                                </p>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-item-sliding>
                <ion-item-sliding #slidingItem>
                    <ion-item>
                        <ion-row>
                            <ion-col width-50>
                                <p>
                                    Total a receber:
                                </p>
                            </ion-col>
                            <ion-col width-50>
                                <p style="text-align: right;">
                                    <span style="color:#49965A;" class="valorTitulo">{{getTotalReceber()}}</span>
                                </p>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-item-sliding>
                <ion-item-sliding #slidingItem>
                    <ion-item>
                        <ion-row>
                            <ion-col width-50>
                                <p>
                                    Saldo total:
                                </p>
                            </ion-col>
                            <ion-col width-50>
                                <p style="text-align: right;">
                                    <span class="valorTitulo"><b>{{getSaldo()}}</b></span>
                                </p>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-item-sliding>
            </ion-list>
        </ion-card-content>
    </ion-card>

</ion-content>