        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Nova Mensagem
          </h1>
          <ol class="breadcrumb">
            <li><a [routerLink]="['Inicio']"><i class="fa fa-dashboard"></i> Início</a></li>
            <li><a [routerLink]="['Mensagem']">Mensagem</a></li>
            <li class="active">Nova Mensagem</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div *ngIf='showErrorMessage() || showSuccessMessage()' class='alert' [ngClass]="{'alert-danger' : showErrorMessage() ,'alert-success': showSuccessMessage()}">
                {{showSuccessMessage() ? successMessage : errorMessage}}
            </div>
            <form (ngSubmit)="onSubmit()" #mensagemForm="ngForm">        
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Escrever Mensagem</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <div class="form-group">
                    <label for="List">Destinatários</label>
                    <select id="List" ngControl="toMensagem" #toMensagem="ngForm" [(ngModel)]="destinatarios" class="form-control select2" multiple="multiple" data-placeholder="Insira os destinatários">
                      <option *ngFor="#destinatario of destinatarios" value="{{destinatario.tipo}}" data-id="{{destinatario.id}}">{{destinatario.nome}}</option>
                    </select>                    
                  </div>
                  <div class="form-group">
                    <label for="assunto">Assunto</label>
                    <input id="assunto" class="form-control" ngControl="tituloMensagem"  #tituloMensagem="ngForm" [(ngModel)]="mensagem.titulo" placeholder="Insira o assunto" required>
                  </div>
                  
                  <div class="form-group">
                    <label for="categoria">Categoria</label>                      
                    <select id="categoria" class="form-control" ngControl="idCategoria" [(ngModel)]="mensagem.idCategoria" required placeholder="Escolha uma categoria para a mensagem">
                        <option disabled selected>Escolha uma categoria para a mensagem</option>
                        <option *ngFor="#c of categorias" [value]="c.id" [ngStyle]="{'color': c.cor}">
                                {{c.descricao}}                           
                        </option>
                    </select>
                  </div> 
                  <div class="form-group">
                    <label for="corpo">Mensagem</label>
                    <textarea id="corpo" ngControl="mensagem.corpoMensagem" placeholder="Digite a mensagem" #corpoMensagem="ngForm" [(ngModel)]="mensagem.corpoMensagem" class="form-control" maxlength="1000" 
                                required="required" style="height: 200px"></textarea>
                  </div>
                <div class="box-footer">
                  <div class="pull-right">                    
                    <button [disabled]="!mensagemForm.form.valid" type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Enviar</button>
                    <a [routerLink]="['Mensagem']" class="btn link">Voltar</a>
                  </div>                  
                </div><!-- /.box-footer -->
              </div><!-- /. box -->
            </div><!-- /.col -->
            </form>
        </section>