        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Mensagens
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Início</a></li>
            <li class="active">Mensagens</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-md-3">
              <a [routerLink]="['Compose', {id: 0}]" class="btn btn-primary btn-block margin-bottom">Nova Mensagem</a>
              <!--
              <div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Pastas</h3>
                  <div class="box-tools">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
                
                <div class="box-body no-padding">
                  <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#"><i class="fa fa-inbox"></i> Caixa Entrada <span class="label label-primary pull-right">12</span></a></li>
                    <li class="active"><a href="#"><i class="fa fa-envelope-o"></i> Enviadas</a></li>
                    <li><a href="#"><i class="fa fa-trash-o"></i> Trash <span class="label label-success pull-right">65</span></a></li>
                  </ul>
                </div>
              </div><!-- /. box -->
            </div><!-- /.col -->
            <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-header with-border">
                  <form (ngSubmit)="onPesquisar()" #localizarForm="ngForm">
                    <div class="box-tools pull-left">
                      <div class="has-feedback">
                        <input type="text" class="form-control input-sm" placeholder="Localizar" #tituloMensagem="ngForm" [(ngModel)]="pesquisa">
                        <span class="fa fa-search form-control-feedback"></span>
                      </div>
                    </div><!-- /.box-tools -->
                  </form>                    
                    <div class="pull-right">
                        {{tabelaService.inicioListagem}}-{{tabelaService.fimListagem}}/{{tabelaService.total}}
                        <div class="btn-group">                        
                            <button class="btn btn-sm" [disabled]="tabelaService.disableBack()" (click)="onVoltar()"><i class="fa fa-chevron-left"></i></button>
                            <button class="btn btn-sm" [disabled]="tabelaService.disableNext()" (click)="onAvancar()"><i class="fa fa-chevron-right"></i></button>
                        </div>                    
                    </div><!-- /.pull-right -->                                      
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                  <div class="mailbox-controls">
                    <!-- Check all button -->
                    <!--<button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
                    <div class="btn-group">
                      <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                      <button class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                      <button class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                    </div><!-- /.btn-group -->
                    <!--<button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>-->
                  </div>
                  <div class="table-responsive mailbox-messages">
                    <table class="table table-striped table-bordered table-hover">
                      <tbody data-link="row" class="rowlink">
                        <tr *ngFor="#mensagem of tabelaService.objetosListagem">
                            <td style="width: 30%;">
                                <a style="color: black !important;" [routerLink]="['ReadMail', {id: mensagem.id}]">
                                    Para: {{mensagem.destinatarios}}
                                </a>
                            </td>                            
                            <td class="mailbox-subject">
                                <a [routerLink]="['ReadMail', {id: mensagem.id}]" style="color: black !important">    
                                    <span class="label" [ngStyle]="{'background-color': mensagem.categoria.cor}" style="margin-right: 5px;">
                                        {{mensagem.categoria.descricao}}
                                    </span><b>{{mensagem.assunto}}</b> - {{mensagem.corpo}}...
                                </a>                                                         
                            </td>                          
                          <!--<td class="mailbox-attachment"></td>-->
                          <td class="pull-right">{{mensagem.tempoCriacao}} atrás</td>                          
                        </tr>
                      </tbody>
                    </table><!-- /.table -->
                  </div><!-- /.mail-box-messages -->
                </div><!-- /.box-body -->
                <div class="box-footer no-padding">
                  
                  <div class="mailbox-controls">
                    <!--
                    <button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
                    <div class="btn-group">
                      <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                      <button class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                      <button class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                    </div>                    
                    <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                    -->
                  </div>
                </div>
              </div><!-- /. box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
