<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
    Nova Mensagem
    </h1>
    <ol class="breadcrumb">
    <li><a [routerLink]="['Inicio']"><i class="fa fa-dashboard"></i> Início</a></li>
    <li><a [routerLink]="['Mensagem']">Mensagem</a></li>
    <li class="active">Visualizar Mensagem</li>
    </ol>
</section>

        <!-- Main content -->
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">{{mensagem.assunto}}</h3>	
            <h5><span class="mailbox-read-time">Para: {{mensagem.destinatarios}}</span>
            <span class="mailbox-read-time pull-right">{{mensagem.dataCriacao}}</span></h5>		
            <div class="box-tools pull-right">
            <button class="btn btn-sm" (click)="onAnterior(mensagem.id)"><i class="fa fa-chevron-left"></i></button>
            <button class="btn btn-sm" (click)="onProximo(mensagem.id)"><i class="fa fa-chevron-right"></i></button>				
            </div>
        </div><!-- /.box-header -->
        <div class="box-body no-padding">
            <div class="mailbox-read-message">
                <textarea class="form-control" readonly style="height: 200px">{{mensagem.corpo}}</textarea>
            </div><!-- /.mailbox-read-message -->
        </div><!-- /.box-body -->
        <div class="box-footer">
            <a [routerLink]="['Compose', {id: mensagem.id}]" class="btn btn-primary">Encaminhar</a>
            <a [routerLink]="['Mensagem']" class="btn link">Voltar</a>            
        </div><!-- /.box-footer -->
    </div><!-- /. box -->
</section>
