<ion-toolbar class="financeiro-filter">
    <ion-buttons start>
        <button style="color:white" (click)="fechar()">Cancelar</button>
    </ion-buttons>

    <ion-title>
        Filtros
    </ion-title>

    <ion-buttons end>
        <button style="color:white" (click)="aplicarFiltros()">Feito</button>
    </ion-buttons>
</ion-toolbar>


<ion-content class="outer-content financeiro-filter">

    <ion-list>
        <ion-item *ngFor="#opcao of opcoes" (click)="tipoFiltro = opcao">
            <div style="display:inline-block; width:90%">
                {{opcao.descricao}}
            </div>
            <div style="display:inline-block; width:10%" *ngIf="tipoFiltro == opcao">
                <icon class="iconCheck" ios="ion-ios-checkmark" md="ion-ios-checkmark"></icon>
            </div>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="tipoFiltro.id == 4">
        <ion-input clearInput>
            <ion-label style="width:30%">Início</ion-label>
            <input type="date" [(ngModel)]="tipoFiltro.periodo.dtInicio">
        </ion-input>
        <ion-input clearInput>
            <ion-label style="width:30%">Fim</ion-label>
            <input type="date" [(ngModel)]="tipoFiltro.periodo.dtFim">
        </ion-input>
    </ion-list>

    <ion-list style="margin-top:42px ">
        <button ion-item (click)="resetarFiltros() " danger detail-none class="reset-filters ">
            Resetar os filtros
        </button>
    </ion-list>

</ion-content>