.reset-filters {
    color: color(danger);
}

.financeiro-filter{
    .bar-button-default{
        color: white;
    }
    
    .iconCheck{
        font-size: 1.6em;
        color: color(primary)
    }
}