<ion-toolbar [attr.primary]="isMD ? '' : null">
    <ion-nav-items primary>
        <button (click)="close()">Cancel</button>
    </ion-nav-items>
    <ion-nav-items secondary>
        <button (click)="applyFilters()">Done</button>
    </ion-nav-items>
    <ion-title>
        Filter Sessions
    </ion-title>
</ion-toolbar>
<ion-content class="outer-content">
    <ion-list>
        <ion-list-header>Categories</ion-list-header>

        <ion-switch *ng-for="#category of categories" [(ng-model)]="category.filterToApply" [attr.category]="category.name" [(checked)]="category.filterToApply" secondary>
            <span class="dot"></span> {{ category.displayName }}
        </ion-switch>
    </ion-list>

    <ion-list>
        <ion-item (click)="resetFilters()" class="reset-filters">Reset All Filters</ion-item>
    </ion-list>
</ion-content>