  <section class="content-header">
    <h1>
      Mensagens
      <small>enviar mensagem para o(s) agricultor(es).</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Mensagens</a></li>
    </ol>
    <br/>
  </section>

  <!-- Main content -->
  <section class="content">


        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Mensagens Enviadas</strong>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <i class="fa fa-envelope fa-fw"></i> Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..
                        <span class="pull-right text-muted small"><em>27 minutos atrás</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-envelope fa-fw"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        <span class="pull-right text-muted small"><em>43 minutos atrás</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-envelope fa-fw"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        <span class="pull-right text-muted small"><em>43 minutos atrás</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-envelope fa-fw"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        <span class="pull-right text-muted small"><em>43 minutos atrás</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-envelope fa-fw"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        <span class="pull-right text-muted small"><em>43 minutos atrás</em>
                        </span>
                    </a>
                </div>
                <!-- /.list-group -->
                <a href="#" class="btn btn-default btn-block">Ver todas as mensagens enviadas</a>
            </div>
            <!-- /.panel-body -->
        </div>
    <div style="clear:both;"></div>

    <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Enviar Mensagem</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
            <div class="col-md-12">
              <label for="basic-url">Destinatários:</label>
              <input type="text" class="form-control" id="basic-url">
              <br/>
              <label for="basic-url">Título:</label>
              <input type="text" class="form-control" >
              <br/>
              <label for="basic-url">Mensagem:</label>
              <textarea style="width: 100%; margin-bottom: 10px;" rows="10"></textarea>

              <p><a href="#" class="btn btn-primary" role="button">Enviar</a></p>
                    </div>
                </div>
      </div>
    </div>
  </section>
