<ion-tabs>
    <ion-tab [root]="tabHomeRoot" tabTitle="Início" tabIcon="home"></ion-tab>
    <ion-tab [root]="tabFinanceiroRoot" tabTitle="Financeiro" tabIcon="cash"></ion-tab>
    <ion-tab [root]="tabMensagemRoot" tabTitle="Mensagens" tabIcon="mail"></ion-tab>
    <ion-tab [root]="tabSairRoot" tabTitle="Sair" tabIcon="close-circle"></ion-tab>

</ion-tabs>