<ion-navbar *navbar>
    <ion-title>Session</ion-title>
</ion-navbar>

<ion-content padding>
    <h4>{{session.name}}-----</h4>
    <h5>{{session.speaker}}</h5>
    <span>{{session.location}}</span>
    <p>{{session.description}}</p>
</ion-content>