<div>
   <h2>Registrar uma Cooperativa </h2>
   <div class="jumbotron">
	<div class="row">
    <a ui-sref="inicial" class="pull-right btn btn-primary btn-outline btn-rounded">inicial</a>
    <!-- Standard HTML form, with the submit function bound to the register() function defined in the the controller -->
    
    <form id="reg"   ng-submit="cooperativaCtrl.register()">
    
        <fieldset>
            <br>
            <br>
            <!-- Each input is bound to a property on the prototype cooperativaCtrl.newCooperativa object -->
            <div>
                <input  class="input-underline-blue " size="50%" type="text" name="name" id="name"  ng-model="cooperativaCtrl.newCooperativa.name" placeholder="Insira o nome da cooperativa" required/>
                <span class="error" ng-show="cooperativaCtrl.errors.name">{{errors.name}}</span>
            </div>
            <br>
            <div>
                <input class="input-underline-blue" size="50%"  type="email" name="email" id="email" ng-model="cooperativaCtrl.newCooperativa.email" placeholder="Insira o Email da cooperativa" required/>
                <span class="error" ng-show="cooperativaCtrl.errors.email">{{cooperativaCtrl.errors.email}}</span>
            </div>
             <br>
            <div>
                <input type="ip" class="input-underline-blue" size="50%" name="ip" id="ip" ng-model="cooperativaCtrl.newCooperativa.ip"  placeholder="Insira o ip da cooperativa" required/>
                <span class="error" ng-show="cooperativaCtrl.errors.ip">{{cooperativaCtrl.errors.ip}}</span>
            </div>
             <br>
            <div>
                
                <input type="logo" class="input-underline-blue" size="50%" name="logo" id="logo" ng-model="cooperativaCtrl.newCooperativa.logo"  placeholder="Insira o caminho do logo da cooperativa" required/>
                <span class="error" ng-show="cooperativaCtrl.errors.logo">{{cooperativaCtrl.errors.logo}}</span>
            </div>
             <br>
           <div>

                <input type="cnpj" class="input-underline-blue" size="50%" name="cnpj" id="cnpj" ng-model="cooperativaCtrl.newCooperativa.cnpj"  placeholder="Insira o cnpj da cooperativa#" required/>
                <span class="error" ng-show="cooperativaCtrl.errors.cnpj">{{cooperativaCtrl.errors.cnpj}}</span>
            </div>
<br>
            <!-- We output a list of success messages (appropriately styled!) for the form. -->
            <ul ng-hide="!successMessages" class="success">
                <li ng-repeat="message in successMessages">{{cooperativaCtrl.message}}</li>
            </ul>

            <!-- Output the list of error messages if any. -->
            <ul ng-hide="!errorMessages" class="error">
                <li ng-repeat="message in errorMessages">{{cooperativaCtrl.message}}</li>
            </ul>

            <!-- There are two buttons, the default submit action (which is bound for the whole form), and a reset button, that clears the form. -->
            <div>
                
                <input  class="btn btn-success btn-outline btn-rounded" type="submit" id="register" value="Register" />
                <input class="btn btn-danger btn-outline btn-rounded" type="button" ng-click="reset()" name="cancel"
                    id="cancel" value="Cancel" />
            </div>
        </fieldset>
    </form>
    </div>
    </div>
    </div>