<div>
	<h2>Bem Vindo!</h2>
	<div class="jumbotron">
		<div class="container">
			<h1>AgroInfo <small>Server</small></h1>
			Atravez deste dashboard e possivel controlar as cooperativas, e verificar status sobre a utilização do projeto AgroInfo<br /><br />
			
		</div>
	</div>
	
</div>