<div>
	<a ui-sref="inicial" class="pull-right btn btn-primary btn-outline btn-rounded">Inicial</a>
	<h2>Relatorio de Acessos</small></h2>
	<div class="jumbotron">
		<div class="container">
			<div class="chart-container">
				<canvas id="line" class="chart chart-line ng-isolate-scope" chart-data="relatorioCtrl.data" chart-labels="relatorioCtrl.labels" chart-legend="true" click="onClick"
				hover="onHover" chart-series="relatorioCtrl.series" width="507" height="253" style="width: 507px; height: 253px;"></canvas>
			</div>
		</div>
	</div>
	
	<h2>Quantidade de ativos</small></h2>
	<div class="jumbotron">
		<div class="container">
			<div class="chart-container">
				<canvas id="line2" class="chart chart-line ng-isolate-scope" chart-data="relatorioCtrl.data2" chart-labels="relatorioCtrl.labels" chart-legend="true" click="onClick"
				hover="onHover" chart-series="relatorioCtrl.series" width="507" height="253" style="width: 507px; height: 253px;"></canvas>
			</div>
		</div>
	</div>
</div>