<section class="content-header">
    <h1>
      Agendamento
      <small>Informar periodicidade de integração com o ERP Local</small>
    </h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Configurações</a></li>
		<li class="active">Agendamento</li>
	</ol>
    <br/>
    <br/>
</section>


<section class="content">
    <div class="row">
        <div class="home centered">
            <form (ng-submit)="onSubmit()" #hf="form">
                <div class="col-md-12">
                    <div [hidden]="!withErrors" class="alert alert-danger">
                      {{mensagemErro}}
                    </div>

                    <div [hidden]="!submitted" class="alert alert-success">
                      {{mensagemSucesso}}
                    </div>
                </div>
                <div class="col-md-6" *ng-for="#agendamento of agendamentos" class="row2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{agendamento.descricao}}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <div class="checkbox">
                                        <label>
                                            <input type="checkbox" [(ng-model)]="agendamento.ativo" ng-control="agendamento.ativo">Ativo
                                        </label>
                                      </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">

                                    <div class="col-md-4">
                                        <label>Periodicidade</label>
                                    </div>
                                    <br clear="all">
                                    <div class="col-md-4">
                                        <input type="number" title="Tempo de execução da procura de itens somente alterados." class="form-control" required [(ng-model)]="agendamento.periodicidade"
                                                    min="1" ng-control="agendamento.periodicidade" #name="form">
                                    </div>

                                    <div class="col-md-8">
                                        <select class="form-control" [(ng-model)]="agendamento.formatoPeriodicidade" ng-control="agendamento.formatoPeriodicidade">
                                            <option *ng-for="#p of periodo" [value]="p">{{p}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="padding-top: 10px;">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label>Carga completa</label>
                                    </div>
                                    <br clear="all">
                                    <div class="col-md-4">                                                                            
                                        <input type="number" title="Tempo para a revalidação de todos os registros, esta validação pode causar lentidão no sistema ERP e no Agroinfo." class="form-control" required [(ng-model)]="agendamento.cargaCompleta" min="1" ng-control="agendamento.cargaCompleta" #name="form">
                                    </div>
                                

                                    <div class="col-md-8">
                                        <select class="form-control" required [(ng-model)]="agendamento.formatoCargaCompleta">
                                            <option *ng-for="#p of periodo" [value]="p">{{p}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear: both;"></div>
                <section class="content">
                    <div>
                        <button type="submit" [disabled]="hf.form.invalid" class="btn btn-info">Salvar</button>
                    </div>
                </section>
            </form>
        </div> 
    </div>
</section>
