<ion-navbar *navbar>
    <ion-title>
        Sair
    </ion-title>
</ion-navbar>

<ion-content padding>
    <ion-row center>
        <ion-col width-75 style="margin-left: 15%;">
            <button primary outline style="width:100%;" (click)="login()">Alterar CPF/CNPJ</button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col width-75 style="margin-left: 15%;">
            <button danger outline style="width:100%;" (click)="sair()">
                <p style="text-align: center;">
                    <span>Sair do aplicativo</span>
                </p>
            </button>
        </ion-col>
    </ion-row>
</ion-content>