.input-underline {
	background: none;
	border: none;
	box-shadow: none;
	border-bottom: 2px solid rgba(255, 255, 255, 0.4);
	color: #FFF;
	border-radius: 0;

	&::-moz-placeholder {
	  color: rgba(255, 255, 255, 0.7);
	}
	&::-ms-input-placeholder {
	  color: rgba(255, 255, 255, 0.7);
	}
	&::-webkit-input-placeholder {
	  color: rgba(255, 255, 255, 0.7);
	}

	&:focus {
		border-bottom: 2px solid rgba(255, 255, 255, 1);
		box-shadow: none;
	}
}

.input-underline-blue {
	background: none;
	border: none;
	outline: 0;
	box-shadow: none;
	border-bottom: 2px solid rgba(38, 152, 221, 1);
	color: #2698dd;
	border-radius: -1px;

	&::-moz-placeholder {
	  color: rgba(38, 152, 221, 1);
	}
	&::-ms-input-placeholder {
	  color: rgba(38, 152, 221, 1);
	}
	&::-webkit-input-placeholder {
	  color: rgba(38, 152, 221, 1);
	}
	
	&:focus::-moz-focus-inner{
		 border: none;
		 outline: 0;
	}

	&:focus {
		border-bottom: 0px solid rgba(38, 152, 221, 1);
		outline: 0 none;
		box-shadow: none;
	}
}

