
<section style="background: #1abc9c;">
    <div class="row" style="background-color: rgba(255,255,255,.10);">
        <div class="img-container img-dashboard">
            <div class="text-center pull-right ">
                <img src="resources/img/senior.png" class="img-responsive">
                <h1>Portal
                <span><b> AgroInfo</b></span>
                </h1>                
            </div>
        </div>        
    </div>
</section>
