﻿<ion-view view-title="AgroInfo - Login" name="login-view">
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="list">
                <label class="item item-input item-select">                    
                    Cooperativa                    
                    <select ng-controller="CoopCtrl" name="NOME" id="IP" required="required"  ng-model="data.cooperativa" ng-options="c.IP as c.NOME for c in coopIp">
                        <option value=''>Cooperativa</option>
                    </select>
                </label>
            </div>

            <label class="item item-ipnut">
                <input type="text" placeholder="Usuário" ng-model="data.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Senha" ng-model="data.password">
            </label>
        </div>
        <button class="button button-block button-calm" ng-click="login()">Entrar</button>
    </ion-content>
</ion-view>