<section class="content-header">
    <h1>
      Agricultores
      <small>Agricultores cadastrados.</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Agricultores</a></li>
    </ol>
    <br/>
    <br/>
</section>

<section class="content">
    <!-- Main content -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Agricultores Cadastrados</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                              <tbody>
                                <tr>
                                  <td>Acacio Carneiro</td>
                                </tr>
                                <tr>
                                  <td>Adélio Galvão</td>
                                </tr>
                                <tr>
                                  <td>Aida Grilo</td>
                                </tr>
                                <tr>
                                  <td>Alicia Martins</td>
                                </tr>
                                <tr>
                                  <td>Aline Camarinho</td>
                                </tr>
                                <tr>
                                  <td>Angélico Figueroa</td>
                                </tr>
                                <tr>
                                  <td>Caetana Garcia</td>
                                </tr>
                                <tr>
                                  <td>Claudemiro Chaves</td>
                                </tr>
                                <tr>
                                  <td>Claudemiro Henriques</td>
                                </tr>
                                <tr>
                                  <td>Conrado Monteiro</td>
                                </tr>
                                <tr>
                                  <td>Elias Lira</td>
                                </tr>
                                <tr>
                                  <td>Ester Serralheiro</td>
                                </tr>
                                <tr>
                                  <td>Eurico Sobral</td>
                                </tr>
                                <tr>
                                  <td>Garibaldo Bonilha</td>
                                </tr>
                                <tr>
                                  <td>Genoveva Prudente</td>
                                </tr>
                                <tr>
                                  <td>Heribelto Severo</td>
                                </tr>
                                <tr>
                                  <td>Isidro Cartaxo</td>
                                </tr>
                                <tr>
                                  <td>Julieta Graxa</td>
                                </tr>
                                <tr>
                                  <td>Leonir Note</td>
                                </tr>
                                <tr>
                                  <td>Marco Balsemão</td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>